body {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: #ADA8DA;
  }
  body {
  font-family: 'Open Sans', sans-serif;
}
  main {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px #aaa;
  }
  body::before {
  content: "";
  background-image: url('image(index).jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.25;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

  form label {
    display: block;
    margin-bottom: 1rem;
  }
  input {
    padding: 0.5rem;
    width: 100%;
  }
  button {
    padding: 0.5rem 1rem;
    background: #ADA8DA;
    color: white;
    border: none;
    cursor: pointer;
  }
  